<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display all users</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Age</h3></th>
                <th><h3>Email</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- This is a button that clears all users from the database.  
     - The button is inside a form, so it sends a POST request when clicked.  
     - The form submits data to the '/clear_users' route.  
     - I added a function called - "onclick", this function shows a confirmation message before deleting all users. -->

    <form action="{{ url_for('clear_users') }}" method="post">
        <button type="submit" onclick="return confirm('Are you sure you want to delete all users?')">Clear All Users</button>
    </form>

    <a href="{{ url_for('home') }}">Back Home</a>
</body>
</html>
